*{
    box-sizing:border-box;
    margin:0;
}
body{
    background-image:url("../images/login_back.jpg");
    background-size:100% 100vh;
    display:grid;
    height:100vh;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    grid-template-areas:". . . .cont cont cont cont  . . . .";

}
.cont{
    display:grid;
    grid-area:cont;
    grid-row-start:3;
    grid-row-end:11;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(12,1fr);
    grid-template-areas:".   form form form form form form form form form form  . ";
    background-color:rgba(0,0,0,.4);
}
.cont form{
    grid-area:form;
    grid-row-start:2;
    grid-row-end:12;
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-template-rows:repeat(14,1fr);
    grid-template-areas:
    ". input1 input1 input1 input1 input1 input1 input1 input1 input1 input1 ."
    ". input2 input2 input2 input2 input2 input2 input2 input2 input2 input2 ."
    ". input3 input3 input3 input3 input3 input3 input3 input3 input3 input3 ."
    ". input4 input4 input4 input4 input4 input4 input4 input4 input4 input4 ."
    ". l1 l1 l1 l1 l1 l1 l1 l1 l1 l1 ."
    ". l2 l2 l2 l2 l2 l2 l2 l2 l2 l2 ."
    ". l3 l3 l3 l3 l3 l3 l3 l3 l3 l3 ."
    ". . a a a a a a a a a .";
}
.cont form input[id=firstname]{
    grid-area:input1;
    grid-row-start:2;
    grid-row-end:3;
    border:none;
    outline:none;
    
}
label[for=firstname],.one{
    grid-area:l1;
    grid-row-start:1;
    grid-row-end:2;

}

.cont form input[id=lastname]{
    grid-area:input2;
    grid-row-start:5;
    grid-row-end:6;
    border:none;
    outline:none;
}
label[for=lastname],.two{
    grid-area:l2;
    grid-row-start:4;
    grid-row-end:5;

}
.cont form input[id=password]{
    grid-area:input3;
    grid-row-start:8;
    grid-row-end:9;
    border:none;
    outline:none;
    
}
label[for=password],.bi bi-shield-lock-fill{
    grid-area:l3;
    grid-row-start:7;
    grid-row-end:8;

}
.cont form input[type=submit]{
    grid-area:input4;
    grid-row-start:11;
    grid-row-end:12;
    border:none;
    outline:none;
    background-color:#f9a051;
    color:white;
    font-weight:bold;
    
}
.cont form a{
    grid-area:a;
    grid-row-start:14;
    grid-row-end:14;
    color:white;
}
.cont form a:hover{
    color:#f9a051;
    text-decoration:none;
    font-weight:bold;
}
label{
    color:white;
}
i{
    color:#f9a051;
}

